<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
  <div class="spacer"></div>
</div>

<div class="content">

  <div class="container">
    <h1 class="heading">Mortgage Calculator</h1>

    <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="5rem">

      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFill fxLayoutGap="2rem">
        <div class="full-width">
          <div class="sub-title">
            <span class="title">Purchage Price:</span> <span class="value">{{purchage_price | currency:'USD' : 'symbol'
              : '1.0-0'}}</span>
          </div>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" aria-labelledby="example-name-label"
            [(ngModel)]="purchage_price" step="1" min="1" max="100000">
          </mat-slider>
        </div>
        <div class="full-width">
          <div class="sub-title">
            <span class="title">Down Payment:</span> <span class="value">{{down_payment | currency:'USD' : 'symbol'
              : '1.0-0'}}</span>
          </div>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" aria-labelledby="example-name-label"
            [(ngModel)]="down_payment" step="1" min="1" max="100000">
          </mat-slider>
        </div>
        <div class="full-width">
          <div class="sub-title">
            <span class="title">Repayment Time:</span> <span class="value">{{repayment_time}} year(s)</span>
          </div>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" aria-labelledby="example-name-label"
            [(ngModel)]="repayment_time" step="1" min="1" max="100">
          </mat-slider>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFill fxFill fxLayoutGap="2rem">
        <div class="full-width">
          <div class="sub-title">
            <span class="title">Interest Rate:</span> <span class="value">{{interest_rate}} %</span>
          </div>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" aria-labelledby="example-name-label"
            [(ngModel)]="interest_rate" step="1" min="1" max="100">
          </mat-slider>
        </div>
        <div class="full-width">
          <div class="sub-title">
            <span class="title">Loan amount:</span> <br><span class="value">{{load_amount | currency:'USD' : 'symbol'
              : '1.0-0'}}</span>
          </div>

        </div>
        <div class="full-width">
          <div class="sub-title">
            <span class="title">Estimated pr. month:</span> <br><span class="value">{{per_month | currency:'USD' :
              'symbol'
              : '1.0-0'}}</span>
          </div>

        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFill fxFill fxLayoutGap="2rem">
        <button mat-raised-button color="primary" (click)="calculate()">Get a mortgage quote</button>
      </div>
    </div>

  </div>


</div>
<router-outlet></router-outlet>